.guide-content {
  padding: 50px;
  .ele-color {
    display: flex;
    h3 {
      flex-shrink: 0;
      width: 180px;
    }
    ul {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      li {
        width: 15%;
        
        background-color: beige;
      }
    }
  }
}
.guide-header {
  background-color: $color-black;
  h2 {
    padding: 30px 50px;
    margin: 0 auto;
    color: $color-white;
    font: {
      size: 60px;
      weight: 700;
    }
    text-transform: uppercase;
  }
}

.guide-footer {
  @include blind;
}