@mixin mobile {
  @media (max-width: #{$breakpoint-mobile + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px)
    and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin layoutTablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin layoutOther {
  @media (min-width: 1300px)
    and (max-width: 1745px) {
    @content;
  }
}

@mixin max-width {
  max-width: $width-max;
  margin: 0 auto;
}

@mixin min-width {
  width: 100%;
  min-width: $width-max;
  margin: 0 auto;
}

@mixin blind {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

//말줄임표 믹스인 ($row => 줄 수)
//ex. 2줄 말줄임 사용시 @include line-clamp(2)
@mixin line-clamp($row) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin bg-center {
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
}

@mixin border-radius($type) {
  border-radius: map-get($radius, $type);
}

//백그라운드 이미지 설정
//ex @include background-style(cover, no-repeat, left, top); 모든 설정 변경
//ex @include background-style; 이미지 url만 변경 기본 설정 사용
@mixin background-style($size : contain, $repeat: no-repeat, $positionX: center, $positionY: center){
  background-size: $size;
  background-repeat: $repeat;
  background-position: $positionX $positionY;
}

@mixin icon-box($width, $height) {
  display: inline-flex;
  width: $width;
  height: $height;
  vertical-align: baseline;
  text-indent: -999em;
}

@mixin font-other {
  font-family: $font-point-name;
}