// default
$default-base: #000000;
$default-point: #5ba6d2;
$default-baseRgb: '0, 0, 0';
$default-pointRgb: '91, 166, 210';
$default-logo: url('/assets/gnb/logo-white.svg');
$default-logo-black: url('/assets/gnb/logo-black.svg');
$default-plane: url('/icons/gnb/plane.png');

// jin-air
$jin-base: #34041f;
$jin-point: #bed600;
$jin-baseRgb: '52, 4, 31';
$jin-pointRgb: '190, 214, 0';
$jin-logo: url('/assets/gnb/jinair-logo-white.webp');
$jin-logo-black: url('/assets/gnb/jinair-logo-color.webp');
$jin-plane: url('/icons/gnb/jin-plane.png');