// color
$color-black: #000;
$color-white: #fff;
$color-red: #e1251b;
$color-blue: #5ba6d2;
$color-gray1: #333;
$color-gray2: #666;

$color-bg1: #f5f5f5;
$color-bg2: #f7f7f8;

$color-line1: #dfdfdf;

$color-etc1: #ffcccc;
$color-etc2: #39457a;
$color-etc3: #f1efe4;
$color-etc4: #ffcc00;
$color-etc5: #6ca5ce;
$color-etc6: #2fb596;
$color-etc7: #356da6;
$color-etc8: #fcfae8;
$color-etc9: #007898;
$color-etc10: #e6f6ff;

// font
$font-default-url : '/static/fonts/Pretendard';
$font-default-name : 'Pretendard';
$font-point-url : '/static/fonts/Libre_Baskerville';
$font-point-name : 'Libre Baskerville';

//breakpoint
$breakpoint-mobile: 1024px;
$breakpoint-tablet: 1299px;
$breakpoint-desktop: 1440px;

//width
$width-max: 1300px;

//images url
$image-url: '/assets/';
$icon-url: '/assets/icons/';

$radius: (
  basic: 15px,
)