.merchandise-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6rem;
  column-gap: 2rem;
  position: relative;
  width: 100%;

  &.mypage {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 1.5rem;
    justify-content: center;
    &.mypage {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      row-gap: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      > div {
        max-width: 130px; 
        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.merchandise-item {
  .border-style {
    @include border-radius(basic);
    @include mobile {
      @include border-radius(other);
    }
  }
  .image-box {
    position: relative;
    padding: 55px 0;
    background-color: $color-bg1;
    @extend .border-style;
    cursor: pointer;
    @include mobile {
      padding: 25px 0;
    }
  }
  .label-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    .label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background-image: url('/icons/product/icon-product-label.png');
      @include background-style;
      color: $color-white;
      font-size: 20px;
      font-weight: 600;
      @include mobile {
        width: 40px;
        height: 40px;
        font-size: 11px;
      }
    }
  }
  .rank-box {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 3;
    .label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 50px;
      padding-bottom: 5px;
      background-image: url('/icons/product/icon-product-rank.png');
      @include background-style;
      color: $color-white;
      font-size: 20px;
      font-weight: 600;
      &.top {
        background-image: url('/icons/product/icon-product-rank-top.png');
      }
      @include mobile {
        width: 28px;
        height: 32px;
        font-size: 14px;
      }
    }
  }
  .rank-box + .other-label-box {
    left: 50px;
  }
  .other-label-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .thumb-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    .thumb {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    img {
      mix-blend-mode: darken;
      width: 100%;
    }
  }
  .cover-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(149, 149, 149, 0.4);
    opacity: 0;
    transition: opacity .2s;
    @extend .border-style;

    .default {
      position: relative;
      height: 100%;
      .function {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px 0;
        width: 100%;
        height: 100%;
        padding: 40px;
        ul {
          display: flex;
          justify-content: center;
          &:last-child {
            margin-bottom: 44px;
          }
          li {
            & + li {
              margin-left: auto
            }
            width: 80px;
            text-align: center;
            button {
              display: block;
            }
            .icon {
              display: block;
              width: 80px;
              height: 80px;
              margin-bottom: 20px;
              border-radius: 50%;
              background-color: rgba(256, 256, 256, 0.7);
              @include background-style(40px 40px);
              &:hover {
                background-color: rgba(256, 256, 256, 1);
              }
              &.heart {
                background-image: url('/icons/product/icon-heart.svg');
              }
              &.gift {
                background-image: url('/icons/product/icon-gift.svg');
              }
              &.cart {
                background-image: url('/icons/product/icon-cart.svg');
              }
              &.purchase {
                background-image: url('/icons/product/icon-purchase.svg');
              }
            }
            .text {
              color: $color-white;
              font-size: 15px;
              font-weight: 700;
              line-height: 18px;
            }
          }
        }
      }
      .adult-only {
        position:relative;
        width: 96%;
        padding-bottom: 96%;
        margin: 0 auto;
        text-align: center;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 10px solid $color-red;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 15px;
          font-weight: 700;
          line-height: 16px;
          strong {
            font-size: 75px;
            line-height: 80px;
          }
        }
      }
      .sold-out {
        width: auto;
        height: 44px;
        padding: 0 18px;
        margin: 0 auto;
        @include border-radius(other);
        border: 1px solid #707070;
        background-color: $color-gray2;
        color: $color-white;
        font-size: 20px;
        line-height: 42px;
      }
      .more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: auto;
        text-align: center;
        .btn {
          display: block;
          width: 100%;
          height: 44px;
          margin-top: auto;
          @include border-radius(other);
          border: 1px solid #959595;
          background-color: $color-white;
          font-size: 20px;
          &.restock {
            width: auto;
            padding: 0 10px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .hover .cover-box {
    opacity: 1;
  }
  .info-box {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    @include mobile {
      margin-top: 10px;
      font-size: 11px;
      line-height: 12px;
    }
    .brand {
      min-height: 18px;
      margin-bottom: 5px;
      color: $color-gray2;
      font-size: 15px;
      line-height: 18px;
      @include line-clamp(1);
      @include mobile {
        margin-bottom: 0;
        height: 12px;
        font-size: 11px;
        line-height: 12px;
      }
    }
    .name {
      min-height: 48px;
      font-weight: 700;
      @include line-clamp(2);
      @include mobile {
        min-height: 36px;
        font-size: 15px;
        line-height: 18px;
      }
    }
    .price-info {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      min-height: 59px;
      margin-top: 20px;
      @include mobile {
        margin-top: 10px;
      }
      .origin {
        color: $color-gray2;
      }
      .discount {
        margin-left: 10px;
        color: $color-red;
        font-weight: 700;
        @include mobile {
          margin-left: 5px;
        }
      }
      .price {
        margin-top: 5px;
        width: 100%;
        font-size: 25px;
        line-height: 30px;
        @include mobile {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
    .label {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      margin-top: 20px;
      @include mobile {
        gap: 4px;
        margin-top: 10px;
      }
      .text {
        padding: 4px 5px;
        border-radius: 5px;
        border: 1px solid $color-line1;
        background-color: $color-white;
        color: $color-gray2;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

[data-theme="jin"] {
  .label-box {
    .label {
      background-image: url('/icons/product/icon-product-label-jin.png');
    }
  }
  .rank-box {
    .label {
      &.top {
        background-image: url('/icons/product/icon-product-rank-top-jin.png');
      }
    }
  }
}