
@mixin display-layoutTablet($view) {
  @include layoutTablet {
    display: $view;
  }
}

//gnb 메뉴 전시 셋팅
.gnb-style-set {
  .blue {
    color: #5BA6D2 !important;
  }
  &.active .blue {
    border-color: #5BA6D2 !important; 
  }
  .red {
    color: #E1251B !important;
  }
  &.active .red {
    border-color: #E1251B !important; 
  }
  .green {
    color: #BED600 !important;
  }
  &.active .green {
    border-color: #BED600 !important; 
  }
  .small {
    font-size: 2rem !important;
    @include layoutTablet {
      font-size: 1.8rem !important;
    }
  }
  .big {
    font-size: 2.4rem !important;
    @include layoutTablet {
      font-size: 2rem !important;
    }
  }
  .normal {
    font-weight: 400 !important;
  }
  .bold {
    font-weight: 700 !important;
  }
}

.header-box {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
// 기본 header
.header-wrap {
  position: relative;
  z-index: 999;
  padding: 0 20px;
  background: linear-gradient(to bottom, $color-black, rgba(0, 69, 56, 0.26) 103%);
  color: $color-white;
  a {
    color: $color-white;
  }
  @include layoutTablet {
    padding: 0;
  }
  .logo {
    display: block;
    min-width: 140px;
    height: 63px;
    background-image: var(--logo-white);
    @include background-style;
    text-indent: -999em;
    @include layoutTablet {
      min-width: auto;
      width: 62.7px;
      height: 28px;
    }
  }

  .line {
    width: 1px;
    height: 20px;
    margin: 0 8px;
    background-color: $color-white;
    opacity: .2;
    @include display-layoutTablet(none)
  }

  .container {
    @extend .header-box;
    padding: 20px 0 10px;
    @include layoutTablet {
      padding: 15px 15px 0;
    }
    .box-set {
      display: flex;
      align-items: flex-end;
      width: 100%;
      @include layoutTablet {
        align-items: center;
        justify-content: space-between;
      }
    }
    .box-logo {
      margin-right: 30px;
      button {
        display: block;
      }
      @include mobile {
        margin-right: 0;
      }
    }
    .box-search {
      display: flex;
      align-items: center;
      .search-bar {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 365px;
        transition: all 0.5s ease;
        @include layoutTablet {
          justify-content: flex-end;
          width: 80%;
        }
        input {
          min-width: 325px;
          width: 100%;
          height: 30px;
          color: $color-white;
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid $color-white;
          box-shadow: none;
          transition: width 0.5s ease, opacity 0.3s ease;
          outline: 0;
          ::placeholder {
            color: #999;
            font-size: 14px;
          }
          :focus {
            outline: none;
            width: 100%;
            opacity: 1;
            visibility: visible;
          }
          @include layoutTablet {
            width: calc(100% - 28px);
            min-width: auto;
            padding: 0;
            opacity: 0;
            padding-right: 0;
            border-color: transparent;
          }
        }
        button {
          @include icon-box(40px, 40px);
          background-image: url('/icons/gnb/icon-search.svg');
          @include background-style(30px 30px);
          @include layoutTablet {
            @include icon-box(28px, 28px);
            @include background-style;
          }
        }
      }
      @include layoutTablet {
        justify-content: flex-end;
        width: 80%;
      }
      &.searchControl {
        width: 80%;
        .search-bar {
          width: 90%;
          input {
            width: calc(100% - 28px);
            border-width: 1px;
          }
        }
        @include layoutTablet {
          .search-bar {
            &::after {
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $color-white;
            }
          }
          input {
            width: calc(100% - 28px);
            opacity: 1;
          }
        }
      }
      .exchange-rate {
        @include display-layoutTablet(none);
        height: 30px;
        margin-left: 10px;
        font: {
          size: 1.2rem;
        }
        line-height: 30px;
        white-space: nowrap;
      }
      .lang-selectBox {
        @include display-layoutTablet(none);
        position: relative;
        font: {
          size: 1.2rem;
        }
        white-space: nowrap;
        .default-option {
          height: 30px;
          font-size: 11px;
          cursor: pointer;
          &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 6px;
            margin-top: -2px;
            background: url('/assets/gnb/icon-arrow-select-filled.svg') no-repeat right center / 6px;
            vertical-align: middle;
          }
        }
        .option-box {
          position: absolute;
          left: -6px;
          bottom: 0;
          z-index: 1;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: #fff;
          transform: translateY(100%);
        }
        .option {
          font-size: 1.1rem;
          color: #000;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: rgba(91, 166, 210, 0.1);
          }
        }
      }
    }
    .box-util {
      margin-left: auto;
      .util-menu {
        display: flex;
        align-items: center;
        gap: 0 10px;
        li {
          @include display-layoutTablet(none);
          &.cart {
            @include display-layoutTablet(block);
            @include layoutTablet {
              margin-left: 10px;
            }
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          width: 40px;
          height: 80px;
          border-radius: 10px;
          border: 1px solid transparent;
          text-align: center;
          @include layoutTablet {
            width: 28px;
            height: 28px;
          }
          .icon {
            @include icon-box(30px, 30px);
            @for $i from 1 through 5 {
              &.icon#{$i} {
                background-image: url('/icons/gnb/icon-submenu-'+$i+'.svg');
                @include background-style;
              }
            }
            &.icon1-login {
              background-image: url('/assets/gnb/icon-logout-w.svg');
              @include background-style;
            }
            @include layoutTablet {
              @include icon-box(28px, 28px);
            }
          }
          .icon, .thumb {
            margin: 4px auto;
            @include layoutTablet {
              margin: 0;
            }
          }
          .thumb {
            overflow: hidden;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid gray;
            background-color: $color-white;
          }
          .text {
            display: none;
            width: 80%;
            height: 40px;
            margin: 0 auto;
            font: {
              size: 12px;
              weight: 700;
            }
            text-align: center;
            word-break: break-all;
          }
          .shopNum {
            position: absolute;
            top:50%;
            right: 2px;
            width: 16px;
            height: 16px;
            margin-top: -16px;
            border-radius: 50%;
            background-color: $color-red;
            color: $color-white;
            font-size: 11px;
            line-height: 16px;
            text-indent: 0;
            text-align: center;
            @include layoutTablet {
              right: -2px;
            }
          }
          &:hover {
            justify-content: flex-end;
            border-color: rgba(112, 112, 112, 0.15);
            background-color: $color-white;
            color: $color-black;
            .icon {
              @for $i from 1 through 5 {
                &.icon#{$i} {
                  background-image: url('/icons/gnb/icon-submenu-'+$i+'-black.svg');
                }
              }
              
              &.icon1-login {
                background-image: url('/assets/gnb/icon-logout.svg');
              }
            }
            @include layoutTablet {
              justify-content: center;
              border-color: transparent;
              background-color: transparent;
              .icon {
                @for $i from 1 through 5 {
                  &.icon#{$i} {
                    background-image: url('/icons/gnb/icon-submenu-'+$i+'.svg');
                  }
                }
              }
            }
            .text {
              display: block;
              @include display-layoutTablet(none);
            }
            .shopNum {
              top:2px;
              margin-top: 0;
              @include layoutTablet {
                top: 50%;
                margin-top: -16px;
              }
            }
          }
        }
      }
      &.searchControl {
        @include layoutTablet {
          display: none;
        }
      }
    }
  }

  .container-gnb {
    @extend .header-box;
    position: relative;
    align-items: flex-end;
    .box-logo {
      width: 0;
      overflow: hidden;
      transition: all 300ms ease 0s;
    }
    .box-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right:30px;
      @include display-layoutTablet(none);
      .menu {
        width: 45px;
        height: 66px;
        background-image: url('/assets/icons/header-menu-icon.svg');
        @include background-style;
        text-indent: -999em;
        filter: invert(1);
        cursor: pointer;
        &.open {
          background-image: url('/assets/icons/header-close-icon.svg');
        }
      }
    }
    .box-gnb {
      width: 100%;
      overflow-x: auto;
      @include layoutTablet {
        padding: 0 15px;
      }
      &::-webkit-scrollbar {
        display: none
      }
      ul {
        display: flex;
        flex-wrap: nowrap;
        li {
          padding:0 16px;
          @include layoutTablet {
            &:first-child {
              padding-left: 0;
            }
          }
        }
        .btn {
          display: inline-flex;
          align-items: center;
          height: 66px;
          padding-top: 4px;
          border-bottom: 4px solid transparent;
          font-size: 2rem;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-thickness: 1px;
          }
          @include layoutTablet {
            height: 41px;
            font-size: 1.8rem;
          }
        }
        .active .btn {
          border-color: $color-white;
          font-weight: 700 !important;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .box-util {
      display: flex;
      align-items: center;
      gap: 0 10px;
      padding: 0 0 10px;
      margin-left: auto;
      @include display-layoutTablet(none);
      .line {
        margin: 0 15px;
      }
      .mall-link {
        display: inline-flex;
        align-items: center;
        height: 43px;
        padding: 0 20px;
        border-radius: 21.5px;
        border: 1px solid $color-white;
        background-color: transparent;
        font-weight: 600;
        text-align: center;
      }
      .line-search {
        position: relative;
        height: 60px;
        padding-right: 20px;
        .text {
          display: inline-flex;
          align-items: center;
          height: 43px;
          padding: 0 58px 0 20px;
          border-radius: 21.5px;
          border: 1px solid #5b6768;
          background-color: $color-bg2;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
          font-weight: 600;
          color: $color-black;
          white-space: nowrap;
          &::after {
            content: '';
            display: inline-flex;
            width: 28px;
            height: 100%;
            background-image: url('/icons/gnb/arrow.svg');
            @include background-style(17px 17px, no-repeat, right, center);
          }
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid #0a204b;
          background-color: $color-white;
          background-image: var(--img-plane);
          @include background-style;
        }
      }
    }
  }
}

// white 테마
.header-wrap.themeWhite {
  opacity: 1;
  background: $color-white;
  color: $color-black;
  a {
    color: $color-black;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
  }
  .line {
    background-color: $color-black;
  }
  .box-logo .logo {
    background-image: var(--logo-black);
  }
  .container {
    .box-search .search-bar {
      input {
        color: $color-black;
        border-color: $color-black;
      }
      button {
        filter: invert(1);
      }
    }
    .box-search .lang-selectBox .default-option::after {
      filter: invert(1);
    }
    .box-util .util-menu .menu:hover {
      border-color: transparent;
    }
    .box-util .util-menu .menu .icon {
      @for $i from 1 through 5 {
        &.icon#{$i} {
          background-image: url('/icons/gnb/icon-submenu-'+$i+'-black.svg');
        }
      }
      &.icon1-login {
        background-image: url('/assets/gnb/icon-logout.svg');
      }
    }
  }
  .container-gnb {
    .box-menu .menu {
      filter: invert(0);
    }
    .box-gnb ul .active .btn {
      border-color: $color-black;
    }
    .mall-link {
      border-color: $color-black;
    }
  }
}

// black 테마
.header-wrap.themeBlack {
  opacity: 1;
  background: var(--color-base);
}

// scroll small
.header-wrap.small {
  position: sticky;
  top: 0;
  width: 100%;
  .container-gnb {
    align-items: center;
    .box-logo {
      min-width: 8.96rem;
      margin-right: 3rem;
      .logo {
        min-width: 8.96rem;
        height: 4rem;
      }
      @include layoutTablet {
        margin-left: 15px;
        .logo {
          height: 2.8rem;
        }
      }
    }
    .box-gnb ul .btn {
      height: 80px;
    }
    @include layoutTablet {
      .box-gnb ul .btn {
        height: 56px;
      }
    }
    .box-util {
      gap: 0;
      padding: 0;
    }
  }
}

.WhiteBg {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background: transparent;
  @include layoutTablet {
    max-height: 56px;
  }
}

.MainNullSpace {
  position: fixed;
  width: 100%;
  height: 165px;
  background: $color-white;
}

.searchBarBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}