.searchBarBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.themeWhite {
  .searchBar {
    input {
      border-color: $color-black;
    }
    button {
      background-image: url(#{$icon-url}icon-search-light-bk.svg);
    }
  }
}

.searchBar {
  z-index: 1;
  display: flex;
  align-items: center;
  //margin-bottom: 1.5rem;
  width: 365px;
  transition: all 0.5s ease;
  input {
    min-width: 320px;
    width: 100%;
    height: 30px;
    color: $color-white;;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $color-white;
    box-shadow: none;
    ::placeholder {
      color: #999;
      font-size: 14px;
    }
    :focus {
      outline: none;
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
    transition: width 0.5s ease, opacity 0.3s ease;
    outline: 0;
  }

  button {
    display: inline-flex;
    vertical-align: bottom;
    margin-left: 0.7rem;
    text-indent: -999em;
    width: 3.57rem;
    height: 3.57rem;
    background-image: url(#{$icon-url}gnb/icon-search.svg);
    @include background-style(2.4rem 2.4rem);
    @include layoutTablet {
      position: absolute;
      right: 0;
      top: 50%;
      margin-left: 0;
      transform: translateY(-50%);
      width: 3.4rem;
      height: 3.4rem;
    }
  }
  @include layoutTablet {
    position: relative;
    width: 100%;
    margin-bottom: 0;

    input {
      width: 0;
      min-width: auto;
      padding: 0;
      opacity: 0;
      padding-right: 0;
    }
    input:focus {
      padding-right: 33px;
    }
  }
  &.searchControl {
    width: 80%;
    @include layoutTablet {
      width: 35%;
    }
  }
}